* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;

}

.navbar {
    border: 2px solid red;
    display: flex;
    gap: 22px;
    height: 40px;
    width: 600px;
    justify-content: center;
    align-items: center;


}

.nav-child {
    list-style: none;
    cursor: pointer;

}



.nav-child:hover {
    color: red;
}